:root {
  --primary-red-900: #7A0C12;
  --primary-red-700: #B3121B;
  --primary-red-500: #E11D2E;

  --neutral-black-900: #0B0B0D;
  --neutral-black-700: #1A1B1F;
  --neutral-black-500: #2E3138;

  --neutral-white: #F7F8FA;
}
